<!DOCTYPE html>
<html>
<head>
    <link rel='icon' href="{{ url_for('static', filename='image/icot.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_L.css') }}">
    <title>Masuk Admin</title>
</head>
<body>
    <div class="box">
        <h1>Masuk</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button type="submit">Masuk</button>
            <p>Belum punya akun yah ?
            <br>
            <a href="/register">Daftar terlebih dahulu</a></p>
        </form>
    </div>
</body>
</html>
